@import "../../styles/style.css";


.viewPort {
    height: 204vh;
    width: 100vw;
    /*border: 1px solid red;*/
    padding: 40px;
}

.white-div {
    width: 121%;
    height: 64%;
    margin-left: -21px;
    background: white;
    margin-bottom: 19px;
}

.header {
    color: #f47925;
    font-family: "GilroyExtraBold";
    /*display: inline;*/
    width: 9.5%;

    display: inline;
}

.curve-div {
    width: 94px;
    /*border: 1px solid red;*/
}

.teachers-section {
    /*border: 1px solid;*/
    width: 55%;
    padding: 16px;
    -webkit-box-shadow: 0px 1px 11px 10px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 1px 11px 10px rgba(0, 0, 0, 0.05);
    border-radius: 45px;
    margin-left: 10px;
    margin-top: 41px;
}

.teacher-img {
    width: 251px;
    /*border: 1px solid red;*/
}

.curveLine {
    width: 51px;
    height: 6px;
    background-color: #707070;
    display: inline;
    border-radius: 64px;
}

.section-1 {
    /*border: 1px solid red;*/
    padding: 47px;
}

.image-div {
    width: 243px;
    margin-left: 24px;
    border: 9px solid #707070;
    justify-items: center;
    border-top: 0;
    border-radius: 66px;
    height: 348px;
    text-align: center;
    margin-top: 17px;
}

.rating {
    width: 85px;
    height: 39px;
    /*border: 1px solid red;*/
    position: absolute;
    bottom: 82px;
    left: 118px;
    border-radius: 20px;
    background-color: #f47925;
    padding-top: 5px;
}

.about-teacher {
    width: 386px;
    height: 252px;
    margin-left: 40px;
    margin-top: 66px;
    -webkit-box-shadow: 0px 1px 11px 10px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 1px 11px 10px rgba(0, 0, 0, 0.05);
    border-radius: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.star {
    width: 27px;
    /*border: 1px solid red;*/
}

/*media queries*/
@media all and  (max-width: 320px) {
    .header {
        width: 34.5%;
        margin-top: 3px;
    }

    .curveLine {
        width: 39px;
    }

    .curve-div {
        width: 74px;

    }

    .viewPort {
        padding: 17px;
        height: 100%;
        padding-bottom: 60px;
    }

    .rating {
        left: 117px;
        bottom: 68px;
    }

    .section-1 {
        padding: 0px;
        margin-top: 10px;
    }

    .teachers-section {
        /*border: 1px solid;*/
        width: 99%;
        padding: 0px;
        border-radius: 45px;
        margin-left: 0px;
    }

    .image-div {
        margin-top: 11px;
        margin-left: 17px;
    }

    .about-teacher {
        width: 276px;
        height: 327px;
        margin-left: 3px;
        margin-top: 26px;

    }
}

@media all and  (min-width: 321px) and (max-width: 380px) {
    .header {
        width: 29.5%;
        margin-top: 3px;
    }

    .curveLine {
        width: 39px;
    }

    .curve-div {
        width: 74px;

    }

    .viewPort {
        padding: 14px;
        height: 100%;
        padding-bottom: 60px;
    }

    .rating {
        left: 119px;
        bottom: 67px;
    }

    .section-1 {
        padding: 0px;
        margin-top: 10px;
    }

    .teachers-section {
        /*border: 1px solid;*/
        width: 101%;
        padding: 0px;
        border-radius: 45px;
        margin-left: 0px;
    }

    .image-div {
        margin-top: 11px;
        margin-left: 48px;
    }

    .about-teacher {
        width: 337px;
        height: 327px;
        margin-left: 3px;
        margin-top: 26px;

    }
}

@media all and  (min-width: 381px) and (max-width: 430px) {
    .header {
        width: 22.5%;
        margin-top: 3px;
        font-size: 15px;
    }

    .image-div > div:nth-child(2) > h1:nth-child(2) {
        font-size: 11px;
    }

    .curveLine {
        width: 39px;
    }

    .curve-div {
        width: 74px;

    }

    .white-div {
        width: 126%;
        height: 54%;
        margin-bottom: -13px;
        margin-left: -14px;

    }

    .teacher-img {
        width: 135px;
    }

    .viewPort {
        padding: 14px;
        height: 100%;
        padding-bottom: 60px;
    }
    .about-teacher>div>div:nth-child(1){
        width: 61px;
    }
    .rating {
        left: 52px;
        bottom: 52px;
        width: 59px;
        height: 25px;
    }
    .rating>h1{
        margin-top: -10px;
    }

    .section-1 {
        padding: 0px;
        margin-top: 10px;
    }

    .star {
        width: 22px;
        margin-top: -10px;
    }

    .teachers-section {
        /*border: 1px solid;*/
        width: 101%;
        padding: 0px;
        border-radius: 45px;
        margin-left: 0px;
    }

    .image-div {
        margin-top: 19px;
        margin-left: 11px;
        height: 225px;
        width: 135px;
        border: 4px solid #707070;
        border-radius: 38px;
        border-top: 0;
    }

    .about-teacher {

        margin-top: 12px;
        width: 226px;
        height: 359px;
        margin-left: 8px;
        margin-bottom: 14px;
    }
}

@media all and  (min-width: 431px) and (max-width: 770px){
    .header {
        width: 16.5%;
        margin-top: 3px;
    }

    .curveLine {
        width: 39px;
    }

    .curve-div {
        width: 74px;

    }

    .viewPort {
        padding: 23px;
        height: 100%;
        padding-bottom: 60px;
    }

    .rating {
        left: 118px;
        bottom: 73px;
    }

    .section-1 {
        padding: 0px;
        margin-top: 10px;
    }

    .teachers-section {
        /*border: 1px solid;*/
        border-radius: 45px;
        margin-left: 0px;
        width: 94%;
        padding: 11px;
    }

    .image-div {
        margin-top: 11px;
        margin-left: 17px;
    }

    .about-teacher {
        width: 338px;
        height: 327px;
        margin-left: 31px;
        margin-top: 26px;

    }
}

@media all and  (min-width: 771px) and (max-width: 1030px){
    .header {
        width: 13.5%;
        margin-top: 3px;
    }

    .curveLine {
        width: 39px;
    }

    .curve-div {
        width: 74px;

    }

    .viewPort {
        padding: 34px;
        height: 100%;
        padding-bottom: 60px;
    }

    .rating {
        left: 116px;
        bottom: 79px;
    }

    .section-1 {
        padding: 0px;
        margin-top: 10px;
    }

    .teachers-section {
        /*border: 1px solid;*/
        border-radius: 45px;
        margin-left: 0px;
        width: 69%;
        padding: 11px;
    }

    .image-div {
        margin-top: 11px;
        margin-left: 17px;
    }

    .about-teacher {
        width: 338px;
        height: 327px;
        margin-left: 31px;
        margin-top: 26px;

    }
}

@media all and  (min-width: 1031px) and (max-width: 1440px){
    .header {
        width: 10.5%;
        margin-top: 3px;
    }

    .curveLine {
        width: 39px;
    }

    .curve-div {
        width: 74px;

    }

    .viewPort {
        padding: 34px;
        height: 100%;
        padding-bottom: 60px;
    }

    .rating {
        left: 114px;
        bottom: 78px;
    }

    .section-1 {
        padding: 0px;
        margin-top: 10px;
    }

    .teachers-section {
        /*border: 1px solid;*/
        border-radius: 45px;
        margin-left: 0px;
        width: 49%;
        padding: 11px;
    }

    .image-div {
        margin-top: 11px;
        margin-left: 17px;
    }

    .about-teacher {
        width: 338px;
        height: 327px;
        margin-left: 31px;
        margin-top: 26px;

    }
}